{% extends "auctions/layout.html" %}

{% block body %}

    <h3>New listing:</h3>
    <form action="{% url 'auctions:create listing' %}" method="POST">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
{#        {{ form }}#}
    </form>
    <a href="{% url 'auctions:index' %}">View Listings</a>
{% endblock %}
